@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  * {
    touch-action: manipulation;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  body {
  }
  .maxSection {
    max-width: 1800px;
  }
}

@layer components {
}

@layer utilities {
}
